<table
	width="100%"
	border="0"
	cellspacing="0"
	cellpadding="0"
	role="presentation"
>
	<tbody>
		<tr>
			<td style="font-size: 0px; height: 30px">&nbsp;</td>
		</tr>
		<tr>
			<td
				style="font-size: 0px; height: 30px;border-top: dashed 1px lightgrey;"
			>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
<table
	width="100%"
	border="0"
	cellspacing="0"
	cellpadding="0"
	role="presentation"
	style="text-align: center"
	align="center"
>
	<tbody>
		<tr>
			<td>
				<p
					style=" color: #000000; text-decoration: none; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; font-size: 24px; line-height: normal; text-align: center; margin: 0; "
				>
					<strong>Tomáš Pilnaj</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td style="font-size: 0px; height: 30px">&nbsp;</td>
		</tr>
	</tbody>
</table>
<table
	width="100%"
	border="0"
	cellspacing="0"
	cellpadding="0"
	role="presentation"
	style="text-align: center"
	align="center"
>
	<tbody>
		<tr>
			<td>
				<table
					width="320px"
					border="0"
					cellspacing="0"
					cellpadding="0"
					role="presentation"
					style="text-align: center"
					align="center"
				>
					<tbody>
						<tr>
							<td style="text-align: left" align="left" width="120px">
								<img
									alt="https://tomas-pilnaj.cz/"
									height="120"
									width="120"
									src="https://tomas-pilnaj.cz/email-images/pilnaj-photo.jpg"
									style=" border: 0; display: block; outline: none; text-decoration: none; height: 120px; font-size: 16px; "
								/>
							</td>
							<td width="20px">&nbsp;&nbsp;&nbsp;</td>
							<td style="text-align: right" align="right">
								<p
									style=" font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; font-size: 16px; line-height: normal; color: #000000; "
								>
									webový vývojář<br /><br />+420 775 577 728<br /><br /><a
										href="https://tomas-pilnaj.cz/"
										style="color: #000000"
										><strong>tomas-pilnaj.cz</strong></a
									>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table
	width="100%"
	border="0"
	cellspacing="0"
	cellpadding="0"
	role="presentation"
>
	<tbody>
		<tr>
			<td style="font-size: 0px; height: 30px">&nbsp;</td>
		</tr>
		<tr>
			<td
				style="font-size: 0px; height: 30px;border-top: dashed 1px lightgrey;"
			>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>
<table
	width="100%"
	border="0"
	cellspacing="0"
	cellpadding="0"
	role="presentation"
	style="text-align: center"
	align="center"
>
	<tbody>
		<tr>
			<td>
				<table
					width="320px"
					border="0"
					cellspacing="0"
					cellpadding="0"
					role="presentation"
					style="text-align: center"
					align="center"
				>
					<tbody>
						<tr>
							<td
								style="vertical-align: middle; text-align:center"
								align="center"
							>
								<table
									border="0"
									cellpadding="0"
									cellspacing="0"
									role="presentation"
									style="text-align: center"
									align="center"
									width="40px"
								>
									<tbody>
										<tr>
											<td
												align="center"
												style="text-align: center;"
												width="40px"
											>
												<a
													href="https://cz.linkedin.com/in/tom-pilnaj"
													target="_blank"
													><img
														alt="linkedIn"
														height="40px"
														width="40px"
														src="https://tomas-pilnaj.cz/email-images/linked.jpg"
														style=" border: 0; display: block; outline: none; text-decoration: none;  width: 40px; font-size: 16px; "
												/></a>
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="text-align: center;font-size: 12px;"
												width="40px"
											>
												<p
													style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; font-size: 12px; line-height: normal; color: #000000; "
												>
													<a
														href="https://cz.linkedin.com/in/tom-pilnaj"
														style="color: #000000; text-decoration: none;"
														>Linked</a
													>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="20px">&nbsp;&nbsp;&nbsp;</td>
							<td
								style="vertical-align: middle; text-align:center"
								align="center"
							>
								<table
									border="0"
									cellpadding="0"
									cellspacing="0"
									role="presentation"
									style="text-align: center"
									align="center"
									width="40px"
								>
									<tbody>
										<tr>
											<td
												align="center"
												style="text-align: center;"
												width="40px"
											>
												<a href="https://github.com/pilniczek" target="_blank"
													><img
														alt="GitHub"
														height="40px"
														width="40px"
														src="https://tomas-pilnaj.cz/email-images/github.jpg"
														style=" border: 0; display: block; outline: none; text-decoration: none;  width: 40px; font-size: 16px; "
												/></a>
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="text-align: center;font-size: 12px;"
												width="40px"
											>
												<p
													style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; font-size: 12px; line-height: normal; color: #000000; "
												>
													<a
														href="https://github.com/pilniczek"
														style="color: #000000; text-decoration: none;"
														>GitHub</a
													>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="20px">&nbsp;&nbsp;&nbsp;</td>
							<td
								style="vertical-align: middle; text-align:center"
								align="center"
							>
								<table
									border="0"
									cellpadding="0"
									cellspacing="0"
									role="presentation"
									style="text-align: center"
									align="center"
									width="40px"
								>
									<tbody>
										<tr>
											<td
												align="center"
												style="text-align: center;"
												width="40px"
											>
												<a
													href="https://www.facebook.com/tomas.pilnaj"
													target="_blank"
													><img
														alt="facebook"
														height="40px"
														width="40px"
														src="https://tomas-pilnaj.cz/email-images/fb.jpg"
														style=" border: 0; display: block; outline: none; text-decoration: none;  width: 40px; font-size: 16px; "
												/></a>
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="text-align: center;font-size: 12px;"
												width="40px"
											>
												<p
													style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; font-size: 12px; line-height: normal; color: #000000; "
												>
													<a
														href="https://www.facebook.com/tomas.pilnaj"
														style="color: #000000; text-decoration: none;"
														>FB</a
													>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="20px">&nbsp;&nbsp;&nbsp;</td>
							<td
								style="vertical-align: middle; text-align:center"
								align="center"
							>
								<table
									border="0"
									cellpadding="0"
									cellspacing="0"
									role="presentation"
									style="text-align: center"
									align="center"
									width="40px"
								>
									<tbody>
										<tr>
											<td
												align="center"
												style="text-align: center;"
												width="40px"
											>
												<a href="https://twitter.com/pilniczek" target="_blank"
													><img
														alt="twitter"
														height="40px"
														width="40px"
														src="https://tomas-pilnaj.cz/email-images/twitter.jpg"
														style=" border: 0; display: block; outline: none; text-decoration: none;  width: 40px; font-size: 16px; "
												/></a>
											</td>
										</tr>
										<tr>
											<td
												align="center"
												style="text-align: center;font-size: 12px;"
												width="40px"
											>
												<p
													style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; font-size: 12px; line-height: normal; color: #000000; "
												>
													<a
														href="https://twitter.com/pilniczek"
														style="color: #000000; text-decoration: none;"
														>Twitter</a
													>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table
	width="100%"
	border="0"
	cellspacing="0"
	cellpadding="0"
	role="presentation"
>
	<tbody>
		<tr>
			<td style="font-size: 0px; height: 30px">&nbsp;</td>
		</tr>
	</tbody>
</table>
